<div class="component-container">

    <div class="weather-container">
        <div class="search-container">

            <form class="search-form">
                <!-- ToDo: move to a reusable component -->
                <input type="search" placeholder="City, Country" aria-label="Search" list="results" name="location"
                    [(ngModel)]="locationSearch">
                
                <!-- ToDo: move to a reusable component -->
                <button (click)="searchLocation()" type="submit" class="search-button">Search</button>

                <app-dropdown-list [list]="locationList$ | async" (selected)="setLocation($event)">
                </app-dropdown-list>
            </form>

            <div class="row main">
                <div class="column">
                    <app-weather-today [weather]="weatherCurrent$ | async"></app-weather-today>
                </div>
                <div class="column">
                    &nbsp;
                </div>
            </div>
            <app-weather-forecast [weatherForecast]="weatherForecast$ | async"></app-weather-forecast>

            <app-loader [isLoading]="loading$ | async"></app-loader>

            <app-error [error]="error$ | async"></app-error>
        </div>
    </div>