/* Colors
*/
$primary-bg-color: #fff;
$primary-txt-color: #000;
$secondary-bg-color: #673ab7;
$secondary-txt-color: #fff;
$accent-color: #eaeaea;

$primary-action-color: #00c9b7;
$secondary-action-color: #5d8e77;
$secondary-action-hover-color: #f5f5f5;

/* Sizing 
*/
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

/* Defaults
*/
$box-shadow: 3px 3px 10px 0 #0000001a;
$header-font-family: Roboto, 'Helvetica Neue', sans-serif;
