<p>weather-forecast works!</p>

<ng-container *ngIf="weatherForecast as weather;">

    <ng-container *ngIf="weather.length; else EMPTY">
        
        <div *ngFor="let day of weather;">
            {{day.dt*1000 | date:'EEEE d/M'}} -> 
            {{day.description | titlecase}}
            Temperature: 
            {{day.temp | number: '1.0-0'}}&#8451;
            ({{day.temp_min | number: '1.0-0'  }}&#8451; - {{day.temp_max | number: '1.0-0' }}&#8451;)
        </div>

    </ng-container>

</ng-container>

<ng-template #LOADING>
    Loading...
</ng-template>

<ng-template #EMPTY>
    No Forecast 
</ng-template>
