<ng-container *ngIf="weatherForecast as weather;">

    <div class="forecast-row" *ngIf="weather.length; else EMPTY">

        <div class="forecast-day" *ngFor="let day of weather;">

            <div class="forecast-day-date">
                {{day.dt*1000 | date:'EEEE d/M'}}
            </div>
            <img [src]="'http://openweathermap.org/img/w/' + day.icon + '.png'" alt="{{day.description}}" />

            <div class="forecast-day-temp">
                <span> <strong>{{day.temp_max | number: '1.0-0' }}&#8451;</strong></span>
                <span> {{day.temp_min | number: '1.0-0' }}&#8451;</span>
            </div>

        </div>
    </div>

</ng-container>

<ng-template #EMPTY>
    No Forecast
</ng-template>